<div class="main">
  <div class="button-block">
    <button class="button-block__button" (click)="getInform('temperature')">Температура</button>
    <button class="button-block__button" (click)="getInform('precipitation')">Осадки</button>
  </div>
  <div class="filter-block">
    <select class="filter-block__select" [(ngModel)] = "yearStart" (ngModelChange)="buildChartData()">
      <option *ngFor="let item of averageStats">{{item.year}}</option>
    </select>
    <select class="filter-block__select" [(ngModel)] = "yearEnd" (ngModelChange)="buildChartData()">
      <option *ngFor="let item of averageStats">{{item.year}}</option>
    </select>
  </div>
  <div class="diagram-block">
    <canvas class="diagram-block__canvas" baseChart 
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType">
    </canvas>
  </div>
</div>