.main{
  display: grid;
  margin: 2% auto;
  width: 80%;
  grid-template-columns: 1fr 4fr;
  grid-gap: 2%;
}
.button-block__button{
  width: 90%;
  padding: 2%;
  border-radius: 3%;
  border: none;
  font-size: .8em;
  background-color: #304e7a;
  color: rgb(241, 241, 241);
  margin-bottom: 2%;
  cursor: pointer;
}
.button-block__button:hover{
  background-color: #192a42;
  transition: all .2s linear;
}
.filter-block{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.filter-block__select{
  border-radius: 3%;
  padding: 2%;
  width: 45%;
  padding: 5px;
  border: none;
  
  border-bottom: 3px solid #355380;
}
.diagram-block{
  grid-column: 2 / 3;
  overflow: auto;
  width: 100%;
}